<section class="inner_content movie_content backdrop poster">
  <div class="header large border first lazyloaded"
  style="background-image: url(#{itemBackdropUrl})"
  >
    <div class="custom_bg">
      <div class="single_column">
        <section class="images inner">
          <div class="poster">
            <div class="image_content">
              <a
                class="no_click progressive"
                href="{{itemBackdropUrl}}"
                target="_blank"
                data-sizes="auto"
                style="cursor: default;"
                ><img
                  sizes="auto"
                  src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{
                    movie.poster_path
                  }}"
                  class=""
                  alt="{{movie.original_title}}"
              /></a>
            </div>

            <div class="zoom">
              <a href="?"
                ><span class="glyphicons glyphicons-zoom-in x1"></span>
                Expand</a
              >
            </div>
          </div>

          <div class="header_poster_wrapper">
            <section class="header poster">
              <div class="title" dir="auto">
                <span
                  ><a href="{{movie.homepage}}"
                    ><h2 class="18">{{ movie.original_title }}</h2></a
                  >
                  <span class="release_date"
                    >({{ movie.release_date | date: "yyyy" }})</span
                  ></span
                >
              </div>

              <div class="header_info">
                <h3 dir="auto">Overview</h3>
                <div class="overview" dir="auto">
                  <p>{{ movie.overview }}</p>
                </div>
              </div>
            </section>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
