div.header.large.first.lazyloaded:before {
  filter: opacity(100) grayscale(100%) contrast(130%);
}

div.header.large.first:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
  filter: opacity(0) grayscale(100%) contrast(130%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /*background-image: url(https://image.tmdb.org/t/p/w1400_and_h450_face/tCUcf3oNWMW8kwAj3WC6CvIN5ah.jpg);*/
  will-change: opacity;
  transition: filter 1s;
}
div.custom_bg {
  background-image: radial-gradient(circle at 20% 50%, rgba(132, 128, 136, 0.98) 0%, rgba(199, 186, 195, 0.88) 100%);
}
section.inner_content {
  display: block;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

section.inner_content section.header h2 {
  margin: 0;
  padding: 0;
  font-size: 2.4em;
  line-height: 1.1em;
  font-weight: 700;
  display: inline-block;
}
section.inner_content section.header span.release_date {
  opacity: 0.6;
  font-size: 1.7em;
  font-weight: 400;
}

section.inner_content section.header {
  color: #ffffff;
}

a {
  color: #000;
  text-decoration: none;
  font-weight: normal;
}
a {
  background: transparent;
}

div.header.large.first {
  width: 100%;
  position: relative;
  z-index: 1;
}

div.header.large {
  width: 740px;
  box-sizing: border-box;
}

section div.header.first div.single_column {
  background: transparent;
}

div.single_column {
  width: 1000px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 0;
}

section.inner_content section.images {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}

section.inner_content section.images div.poster,
section.inner_content section.images div.profile {
  display: block;
  box-sizing: border-box;
  width: 300px;
  height: 450px;
  position: relative;
  z-index: 2;
  border-width: 0px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

div.header_poster_wrapper {
  display: flex;
  min-height: 450px;
}

section.images div.image_content {
  overflow: visible;
}

section.inner_content a,
section.media_panel div.menu ul li.active a {
  color: #000;
}

section.inner_content a {
  color: #e1ffdb;
}
div.image_content a {
  width: 100%;
  height: 100%;
  display: block;
  line-height: 0;
}
.progressive {
  position: relative;
  display: block;
  outline: none;
}
a {
  color: #000;
  text-decoration: none;
  font-weight: normal;
}
a {
  background: transparent;
}

section.images div.image_content + div.zoom {
  height: 450px;
  width: 300px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  top: -450px;
  left: 0;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: linear 0.1s;
}

section.images div.image_content + div.zoom a {
  color: #fff;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
}

section.images div.image_content + div.zoom span.glyphicons-zoom-in {
  padding-right: 8px;
}

.glyphicons {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Regular';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicons {
  width: 1em;
  height: 1em;
}
section.images div.image_content + div.zoom a {
  color: #fff;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
}
div.header_poster_wrapper {
  display: flex;
  min-height: 450px;
}
section.inner_content section.header {
  color: #ffffff;
}

section.inner_content section.header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  width: 700px;
  box-sizing: border-box;
  padding-left: 40px;
}
section.inner_content section.header div.title {
  width: 100%;
  margin-bottom: 30px;
}
section.inner_content section.header ul.actions {
  margin-bottom: 30px;
  width: 100%;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
section.inner_content section.header ul.actions li.chart {
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 68px;
}
section.inner_content section.header ul.actions li {
  font-size: 0.9em;
  margin-right: 20px;
}
section.inner_content section.header ul.actions li.tooltip {
  padding: 10px 0;
}
section.inner_content section.header ul.actions li {
  font-size: 0.9em;
  margin-right: 20px;
}
section.inner_content section.header ul.actions li:last-of-type {
  margin-right: 0;
}

div.header_info {
  width: 100%;
}
section.inner_content section.header h3 {
  width: 100%;
  margin: 0 0 8px 0;
}
section.inner_content h3 {
  font-weight: 600;
  line-height: 1.3em;
  font-size: 1.3em;
  margin-bottom: 8px;
}
section.inner_content section.header h3.featured {
  margin-top: 30px;
}

ol.people.no_image, ol.people.no_cast {
  margin-top: 0;
  justify-content: flex-start;
  flex-wrap: wrap;
}
ol.people {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  display: flex;
}
div.header.large.first ol.people li {
  background-color: transparent;
  height: auto;
  margin-bottom: 0;
}

ol.people.no_image li {
  width: 33%;
  flex-basis: 33%;
  text-align: left;
  margin-bottom: 14px;
  margin-right: 0;
  box-sizing: border-box;
  padding-right: 20px;
}
ol.people li {
  width: 140px;
  background-color: #fff;
  box-sizing: border-box;
  margin-right: 10px;
}
