<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="https://app.upskillable.com">
    <!----><img
      style="width: 160px"
      alt="Logo Image"
      class="logo"
      src="assets/img/upskillable_logo.png"
    />
    <!---->
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor01"
    aria-controls="navbarColor01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home/1']"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/favorites/1']">Favorites</a>
      </li>
    </ul>
    <div class="form-inline">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        (input)="search()"
        [(ngModel)]="query"
      />
      <div
        class="suggestions"
        *ngIf="suggestions.length"
        style="display: contents"
      >
          <div
            id="myInputautocomplete-list"
            class="autocomplete-items"
            *ngIf="query !== ''"
          >
              <div class="suggestions" *ngFor="let suggestion of suggestions">
                <a [routerLink]="['/movie/' + suggestion.id]">
                  {{ suggestion.title }}
                </a>
              </div>
          </div>
      </div>
    </div>
  </div>
</nav>
