.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  right: 35px;
}

.suggestions{
  width: 350px;
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

a{
  color: black;
}

a:hover{
  color: crimson;
  text-decoration: none;
}
