<div class="container">
  <br />
  <h4 style="padding-left: 52px">Upcoming Movies</h4>

  <div class="row space_between">
    <!--  <div  class=" item poster card col-md-5">-->
    <!--    <div class="card-body">-->
    <!--      <div class="image_content">-->
    <!--        <a id="movie_359724" class="result" href="/movie/359724?language=en-US" title="Ford v Ferrari" alt="Ford v Ferrari">-->
    <!--          <img class="poster" data-sizes="auto" data-src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/6ApDtO7xaWAfPqfi2IARXIzj8QS.jpg" data-srcset="https://image.tmdb.org/t/p/w185_and_h278_bestv2/6ApDtO7xaWAfPqfi2IARXIzj8QS.jpg 1x, https://image.tmdb.org/t/p/w370_and_h556_bestv2/6ApDtO7xaWAfPqfi2IARXIzj8QS.jpg 2x" alt="Ford v Ferrari" sizes="104px" srcset="https://image.tmdb.org/t/p/w185_and_h278_bestv2/6ApDtO7xaWAfPqfi2IARXIzj8QS.jpg 1x, https://image.tmdb.org/t/p/w370_and_h556_bestv2/6ApDtO7xaWAfPqfi2IARXIzj8QS.jpg 2x" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/6ApDtO7xaWAfPqfi2IARXIzj8QS.jpg">-->
    <!--        </a>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->

    <!--    <div class=".d-none .d-sm-block .d-md-none">-->
    <!--      <br>-->
    <!--    </div>-->

    <div
      *ngFor="let movie of movies; let i = index"
      class="item poster card flex-row flex-wrap col-xl-5"
      style="margin-top: 30px; border: 0"
    >
      <div class="card-body card-horizontal">
        <a
          id="movie_419704"
          class="result"
          [routerLink]="['/movie/' + movie.id]"
          title="{{ movie.title }}"
        >
          <img
            class="poster"
            data-sizes="auto"
            src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{
              movie.poster_path
            }}"
          />
        </a>

        <div class="info">
          <div class="wrapper">
            <div class="flex">
              <a
                class="title result"
                [routerLink]="['/movie/' + movie.id]"
                title="{{ movie.title }}"
                alt="Movie title"
                >{{ movie.title }}</a>
              <span>{{ movie.release_date }}</span>
              <span data-media-type="movie">
                <a class="lock" (click)="favoriteMovie(movie.id)">
                  <i class="material-icons icon-unlock" [ngClass]="{'hideIcon': movie.favorite === true}">
                    favorite_border
                  </i>
                  <i class="material-icons icon-lock" [ngClass]="{'displayIcon': movie.favorite === true}">
                    favorite
                  </i>
                </a>
              </span>
            </div>
          </div>
          <p class="overview">{{ movie.overview }}</p>
          <p class="view_more" style="width: 255px">
            <a
              id="movie_503917"
              class="result"
              [routerLink]="['/movie/' + movie.id]"
              title="{{ movie.title }}"
              >More Info</a
            >
            <!--            <a href="">-->
            <!--              <span data-media-type="movie">-->
            <!--                <i class="material-icons">-->
            <!--                  favorite_border-->
            <!--                </i>-->
            <!--              </span>-->
            <!--            </a>-->
          </p>
        </div>
      </div>
    </div>
  </div>

  <nav
    aria-label="Page navigation example"
    class="col-xl-4 offset-xl-3"
    style="margin-top: 40px"
  >
    <ul class="pagination" style="padding-left: 34px">
      <li class="page-item" id="btn_prev" [ngClass]="{'hideIcon': page == 1}">
        <a class="page-link" aria-label="Previous" [routerLink]="['/home/' + (page - 1)]">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of totalPageArray" ><a class="page-link" [routerLink]="['/home/' + (page)]">{{page}}</a></li>
      <li class="page-item" [ngClass]="{'hideIcon': page == totalPages}">
        <a class="page-link" id="btn_next" aria-label="Next" [routerLink]="['/home/' + (page + 1)]">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
