/*.container{*/
/*  width: 1000px;*/
/*  margin-top: 30px;*/
/*  margin-bottom: 30px;*/
/*}*/
h1, h2, h3, h4, h5, p{
  font-family: "Source Sans Pro", Arial, sans-serif;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.card{
 display: flex;
 box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.space_between {
  justify-content: space-evenly;
}

/*.image_content{*/
/*  width: 185px;*/
/*  height: 278px;*/
/*  line-height: 0;*/
/*  overflow: hidden;*/
/*}*/

.info{
  width: 270px;
  height: 278px;
  position: relative;
  box-sizing: border-box;
  padding: 10px 16px 16px 16px;
  overflow: hidden;
}

.wrapper{
  display: flex;
}

div.item.card div.wrapper div.flex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

div.item p a, div.item a {
  color: #000;
  font-weight: 400;
}

a:active, a:hover {
  outline: 0;
}

div.item.card div.wrapper a {
  width: 100%;
  display: block;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.1em;
}

div.item.card div.wrapper span {
  color: rgba(0,0,0,0.6);
  line-height: 1em;
}

div.item.card div.wrapper a {
  width: 100%;
  display: block;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.1em;
}

.overview{
  word-wrap: break-word;
  white-space: normal;
  color: #4d4d4d;
  font-size: 0.9em;
  line-height: 1.2em;
  margin-top: 30px;
}

.div.item.p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  width: 100%;
  line-height: 1.2em;
  margin: 0;
}

.card-horizontal{
  display: flex;
  flex: 1 1 auto;
}

div.item.card p.view_more {
  border-top: 1px solid #e3e3e3;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}

.lock{
  cursor: pointer;
}
.lock:hover .icon-unlock,
.lock .icon-lock {
  display: none;
}
.lock:hover .icon-lock {
  display: inline;
}

.hideIcon{
  display: none;
}

.displayIcon{
  display: inline !important;
}
