<div class="loader-wrapper" [class.hidden]="!show">
  <!--<div class="loader-overlay">-->
  <!--<div *ngIf="show" class="loader"></div>-->
  <!--</div>-->
  <div class="progress" style="height: 7px">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
  </div>
</div>
